se-root .panes {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

se-root .map-pane {
  height: 35%;
  width: 100%;
}

se-root .info-pane {
  border-top: 1px solid #dddddd;
  overflow-y: scroll;
  height: 65%;
  width: 100%;
}

@media screen and (min-aspect-ratio: 1/1) {
  se-root .panes {
    flex-direction: row;
  }

  se-root .map-pane {
    height: 100%;
    width: 65%;
  }

  se-root .info-pane {
    border-left: 1px solid #dddddd;
    border-top: 0 none transparent;
    box-shadow: -2px 0 5px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 35%;
    z-index: 1;
  }
}

/* Internet Explorer */
/* Fix shrunken ion-selects */
_:-ms-lang(x), ion-select {
  flex: 1 1 auto;
}
